<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Hi, I'm Lola Cuadra</h1>
        <p>a Software Engineer</p>
        <section>
            <img src="/images/me.jpeg" alt="My Self" class="profile-image">
            <div class="icon-bar">
                <ul>
                    <li><a href="https://github.com/LolaCuadra"><img src="/images/github.png" alt="GitHub"></a></li>
                    <li><a href="https://www.linkedin.com/in/dolores-cuadra-761237236/"><img src="/images/linkedin.png" alt="LinkedIn"></a></li>
                    <li><a href="mailto:dolores.cuadra@outlook.com""><img src="/images/email.png" alt="Email"></a></li>
                    <li><a href="https://doc-14-98-prod-00-apps-viewer.googleusercontent.com/viewer2/prod-00/pdf/1f41f7gdscob9hgtjn11o9gkh2lrlctd/stpg8mo7675at0gfn3fou8n9deft6j17/1700959725000/3/113253623887013017239/APznzaa6qCPWi_pqc5T7GxtZXQD4ulxVGRyVJf7aHyjyzopBN60bvxgXzAFMS3ZZ43FT8SwmVj70mlxhsWdFu78YIGu4h_nuoN46cAvhJZgUOXERHHC3LmA27-bkdV4DLGfKNlJWjbvlpXLDEpBism7iYOYljGrLOIfMvxJACoDZ9Ro7AVyxFHmy-NnyldsQnsX77xJjX4MLgBaWfDM43EIPF_gtkZYVK3HlLFwd6RXyuYF9aDuJRfjGDM3EBPqkZn9g0DF-mSW563U0c0fS3e2nE_UXW-IuufuY-kVi8ixU0t87hC7o8tzicrcPww2SKSKHD23EIQBZ4adxTs7s1iWC_gFmO0gsk3kl1umsOk_NROyC_MjjsrOHkIsgP65zxAbwViHZV1DalxoHyBGs57_IWijRqjMCAsP5x0fF73ZjgJlVHb6hhHs=?authuser=0&nonce=tqhmivvi6u2lk&user=113253623887013017239&hash=6ij2a5j66cmcs4lfepf8oodh15b8g5jt"><img src="/images/profile.png" alt="Profile"></a></li>
                </ul>
                <button><a href="/about">Get To Know Me!</a></button>
            </div>
        </section>
    </div>
</body>
</html>
